@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");

:root {
  --Soft-orange: hsl(35, 77%, 62%);
  --Soft-red: hsl(5, 85%, 63%);

  --Off-white: hsl(36, 100%, 99%);
  --Grayish-blue: hsl(233, 8%, 79%);
  --Dark-grayish-blue: hsl(236, 13%, 42%);
  --Very-dark-blue: hsl(240, 100%, 5%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  overflow-x: hidden;
}

p {
  font-size: 15px;
}

@media (max-width: 1440px) {
  .mainContent {
    padding: 2rem 5rem;
    width: 100vw;
    background-color: var(--Off-white);
  }

  .navbar,
  .navItems {
    display: flex;
  }
  .navbar {
    margin: 2rem 0;
    justify-content: space-between;
  }

  ul {
    list-style: none;
  }
  .navItems {
    gap: 2rem;
  }
  .menuBar {
    display: none;
  }

  .contentPage {
    height: 80vh;
    display: flex;
    align-items: start;
    gap: 2rem;
  }
  .heroContent img {
    width: 100%;
    object-fit: contain;
  }
  .heroContent {
    width: 100vw;
  }
  .heroTitle {
    display: flex;
    gap: 2rem;
    margin: 1rem 0;
  }
  .title {
    flex: 45%;
    font-size: 3.5rem;
    color: var(--Very-dark-blue);
  }
  .heroDetails {
    flex: 55%;
  }
  .details {
    margin-top: 1rem;
    font-size: 1.2rem;
  }
  .readMoreBtn {
    margin-top: 2.6rem;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    padding: 1rem 2rem;
    width: 14rem;
    color: var(--Off-white);
    background-color: var(--Soft-red);
  }
  .sideContent {
    padding: 2rem;
    background-color: var(--Very-dark-blue);
  }
  .sideContentTitle {
    padding-bottom: 1.8rem;
    color: var(--Soft-orange);
    font-size: 2.2rem;
  }
  .sideContentTile {
    padding: 1rem 0;
    border-bottom: 1px solid var(--Dark-grayish-blue);
  }
  .sideContentTileTitle {
    color: var(--Off-white);
    font-size: 1.2rem;
  }
  .sideContentTileDetails {
    padding: 1rem 0;
    color: var(--Dark-grayish-blue);
  }

  .viewMoreCard {
    display: flex;
  }
  .viewMoreContent {
    display: flex;
    margin-top: 8rem;
    margin-bottom: 3rem;
    gap: 2rem;
    justify-content: flex-start;
  }

  .viewMoreCard {
    height: 25vh;
    gap: 1rem;
  }
  .viewMoreCard img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    flex: 35%;
  }
  .viewMoreCardDetails {
    flex: 60%;
  }
  .viewMoreCardDetails h2 {
    font-size: 2rem;
    color: var(--Grayish-blue);
  }
  .viewMoreCardDetails h3 {
    font-size: 1.2rem;
    color: var(--Very-dark-blue);
    margin: 1rem 0;
  }
  .viewMoreCardDetails p {
    font-size: 1rem;
    color: var(--Dark-grayish-blue);
  }
  .mobileImage,
  .sideMenuSection {
    display: none;
  }

  .navLinks:hover {
    cursor: pointer;
    transition: 300ms;
    color: var(--Soft-red);
  }
  .readMoreBtn:hover {
    cursor: pointer;
    transition: 300ms;
    background-color: var(--Very-dark-blue);
  }
  .sideContentTileTitle:hover {
    cursor: pointer;
    transition: 300ms;
    color: var(--Soft-orange);
  }
  .viewMoreCardDetails h3:hover {
    cursor: pointer;
    transition: 300ms;
    color: var(--Soft-red);
  }
}

@media (max-width: 500px) {
  .navItems {
    display: none;
  }
  .menuBar {
    display: block;
    font-size: 2rem;
  }
  .mainContent {
    width: 100vw;
    padding: 1rem;
  }
  .mobileImage {
    display: block;
  }
  .desktopImage {
    display: none;
  }
  .contentPage {
    flex-direction: column;
  }
  .heroContent {
    width: 100%;
  }
  .heroTitle {
    gap: 0;
    flex-direction: column;
  }
  .title {
    font-size: 3rem;
  }

  .viewMoreContent {
    margin-top: 52rem;
    flex-direction: column;
  }

  .webDisplay {
    position: relative;
  }

  .sideMenuSection {
    top: 0;
    right: 0;
    position: absolute;
    display: none;
    z-index: 99;
    height: 100vh;
    width: 65vw;
    background-color: var(--Off-white);
  }
  .closeBtn {
    top: 38px;
    right: 10px;
    font-size: 3rem;
    position: absolute;
  }
  .shadowLayer {
    top: 0;
    left: 0;
    position: absolute;
    display: none;
    z-index: 50;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .sideMenuSection ul {
    position: absolute;
    top: 150px;
    left: 25px;
    font-size: 1.5rem;
  }
  .sideMenuSection ul li {
    padding: 1rem 0;
  }
}
